# ðŸ¼ Pandas for Beginners

This notebook teaches **Pandas** using **one simple real-life example**: a student marks table (like Excel).

You will learn:
- What Pandas is
- DataFrame (Excel-like table)
- Rows & columns
- Selecting data
- Adding new columns
- Simple calculations
- Filtering data

ðŸ‘‰ This notebook is **Google Colab ready**.

In [1]:
# Step 1: Import Pandas
# Pandas is used to work with tables (like Excel)
import pandas as pd

print("Pandas version:", pd.__version__)

Pandas version: 2.2.3

## ðŸ“Š Our One Example: Student Marks Table

Think of this like an Excel sheet:
- Each row â†’ one student
- Each column â†’ subject or information

In [ ]:
# Create a Pandas DataFrame (table)
data = {
    "Name": ["Arun", "Beena", "Charan", "Divya", "Esha"],
    "Math": [78, 66, 90, 55, 80],
    "Science": [85, 74, 88, 60, 72],
    "English": [92, 81, 95, 58, 77]
}

df = pd.DataFrame(data)
df

## ðŸ” Rows, Columns & Shape

- `shape` â†’ number of rows and columns
- `columns` â†’ column names

In [ ]:
print("Shape:", df.shape)
print("Columns:", df.columns)

## ðŸŽ¯ Selecting Columns

Pick one or more columns just like Excel.

In [ ]:
# Select one column
df["Math"]

In [ ]:
# Select multiple columns
df[["Math", "Science"]]

## âž• Adding a New Column

Let's calculate **Total Marks** for each student.

In [ ]:
df["Total"] = df["Math"] + df["Science"] + df["English"]
df

## âž— Calculating Average Marks

We divide total by number of subjects.

In [ ]:
df["Average"] = df["Total"] / 3
df

## ðŸ§  Filtering Data (Conditions)

Find students whose average is **80 or more**.

In [ ]:
df[df["Average"] >= 80]

## ðŸ“Š Simple Statistics

Pandas can quickly answer questions like:
- Class average
- Highest score

In [ ]:
print("Class average (Math):", df["Math"].mean())
print("Highest English score:", df["English"].max())

## âœ… Key Takeaway

ðŸ‘‰ **Pandas is like Excel, but smarter and faster using Python**.

It is heavily used in:
- Data Analytics
- Data Science
- AI & Machine Learning